#about {
  border-style: solid;
  border-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue";
  font-size: 30px;
  text-align: center;
  height: 100vh;
}
