.cards-overall {
  background-color: #fbf6ed;
  border-style: solid;
  border-color: blueviolet;
  height: 600px;
  margin-left: 189px;
}

.card-group {
  display: flex;
  height: 600px;
  justify-content: space-between;
}

#hair-cards {
  margin: 50px;
}
