.home-title {
  background-color: #dac0e0;
  color: black;
  text-align: center;
  font-size: 30px;
  height: 100px;
  font-family: "Bebas Neue", cursive;
  word-spacing: 30px;
  letter-spacing: 15px;
  position: relative;
  padding: 24px;
  margin-top: -77px;
  margin-bottom: 0px;
}

.cards-overall {
  height: 695px;
  background-color: #dac0e0;
}

.card-group {
  display: flex;
  justify-content: space-between;
}

#hair-cards {
  margin: 5px;
}
