.cards-overall {
  background-color: #fbf6ed;
  border-style: solid;
  border-color: blueviolet;
  height: 600px;
}

.card-group {
  display: flex;
  justify-content: right;
  height: 600px;
  margin-right: 40px;
}

.card-images {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.card-meta-title {
  background-color: rgb(167, 161, 161);
  flex-direction: row;
  display: flex;
  align-content: center;
  flex-direction: row;
  padding: 5px;
  width: 96%;
  border-radius: 10px;
  justify-content: center;
}

/* .curly-column {
  flex-direction: row;
  display: flex;
  align-content: center;
  flex-direction: row;
  padding: 50px;
  width: 190px;
  background-color: blue;
} */

#card1 {
  margin: 80px;
}
