.box2 {
  justify-content: center;
  display: flex;
  padding: 5%;
  background: rgb(63, 103, 251);
  background: radial-gradient(
    circle,
    rgba(63, 103, 251, 1) 0%,
    rgba(252, 70, 231, 1) 100%
  );
}
