#btns {
  color: black;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 15px;
  background-color: #dac0e0;
  font-size: 1rem;
  font-family: emoji;
}

.btn-box {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 21%;
  background-color: white;
  margin-bottom: 40px;
}
