.btn-box {
  display: flex;
  flex-direction: row;
  margin-right: 10%;
  background-color: white;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.login-title {
  margin-right: 28px;
  font-size: 12px;
  margin-top: 13px;
}
