.ant-menu {
  line-height: inherit;
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  color: white;
}

.ant-menu-horizontal > .ant-menu-item a {
  color: rgb(255 255 255 / 85%);
}

.menubar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.outer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rebeccapurple;
}
