.menubar {
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  background: transparent;
  color: white !important;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(10px);
  width: 100vw;
  border-style: solid;
  border-color: black;
  box-shadow: 0 0 1.2rem rgb(194, 186, 186), 0 0 0.2rem rgb(194, 186, 186);
}

.nav-links {
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
  align-content: center;
  flex-direction: row;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
}

curls-nav {
  position: relative;
  margin-bottom: -104px;
  z-index: 1;
}

h1 {
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

/* .logo-video {
  position: relative;
  width: 10px;
  height: 10px;
} */

.curls-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat Subrayada", sans-serif;
}
