.product-title {
  font-size: 70px;
  display: flex;
  padding-left: 42%;
  font-family: "Bebas Neue", cursive;
  word-spacing: 14px;
  align-content: center;
  background-color: #fbf6ed;
  border-style: solid;
}

.product-cards-overall {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  /* gap: 10px; */
  gap: 150px;
  padding-left: 214px;
  background-color: white;
}

.products-cards-group {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-self: end;
}

.product-card {
  width: 240px;
  height: 100%;
}

.product-images {
  width: 100%;
  height: 20vw;
  object-fit: scale-down;
}
