/* .images {
  width: 100px;
  display: flex;
} */

.product-card {
  display: flex;
}

.test {
  border-style: solid;
}

.help {
  display: flex;
  flex-direction: row;
  order: 6;
  align-items: center;
  gap: 10px;
}
