/* .images {
  width: 100px;
  display: flex;
} */

.help {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* order: 6; */
  align-items: center;
  gap: 10px;
  padding-left: 240px;
}

.products-cards-group {
  margin: 30px;
}
