.review-testimonies {
  height: 160px;
  color: black;
  line-height: 160px;
  text-align: center;
  background: white;
  height: 163px;
  font-size: 25px;
  font-style: italic;
}

.review-title {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  display: flex;
  justify-content: center;
  padding-top: 25%;
}

#page-box {
  background-color: white;
}

.ant-carousel {
  margin-bottom: 25%;
}

.ant-carousel .slick-dots li button {
  background-color: #dac0e0;
}
