.routine-description {
  text-align: center;
  font-size: 30px;
  border-style: solid;
  border-color: red;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 4rem 4rem 4rem 4rem;
  /* align-items: initial; */
  /* align-items: end; */
  margin-left: 35%;
  margin-right: -24%;
  margin-top: 2em;
  margin-bottom: 2em;
}

#routinez {
  border-style: solid;
  border-color: purple;
  /* padding-left: 9%; */
  display: flex;
  justify-content: flex-end;
  padding-right: 33%;
}
