.routine-description {
  text-align: center;
  font-size: 30px;
  border-radius: 15px;
  display: flex;
  width: 97%;
  padding: 0rem 4rem 0rem 4rem;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: white;
}

#routinez {
  padding-left: 2%;
}

#outer-div {
  padding-bottom: 7%;
  background-color: white;
}
