#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: rgb(217, 35, 35);
}

/* .site-layout-background {
  background: red;
} */

.sidebar {
  z-index: 2;
  position: absolute;
  display: block;
  border-style: solid;
  border-color: red;
  height: 200vh;
  background-color: grey;
}

a {
  font-size: 35px;
  /* align-self: center; */
  /* text-indent: 50px; */
}

.nav-links {
  padding: 0px;
}
